body {
    background: #db3244
    }

.languages {
    font-family: Lexend;
}

.nav {
    font-family: Lexend;
    color: #000000;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}